.page {
  color: white;
  // background-color: aqua;
  max-width: 1440px;
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h2 {
    color: white;
    font-size: 35px;
    animation: fadeInAnimation 5s;
  }

  h1 {
    color: black;
    background-color: white;
    border-radius: 20px;
    animation: fadeInAnimation 5s;
  }
  .nft-card {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-size: cover;
    background-position: center;

    img {
      animation: fadeInAnimation 3s;
    }

    .more {
      font-size: 50px;
    }
    .main-info {
      display: flex;
      flex-direction: row;
      gap: 400px;

      @media (max-width: 936px) {
        flex-direction: column !important;
      }

      @media (max-width: 1338px) {
        gap: 300px;
      }
      @media (max-width: 1240px) {
        gap: 200px;
      }
      @media (max-width: 1140px) {
        gap: 100px;
      }
      @media (max-width: 1040px) {
        gap: 20px;
      }
      .inside-main-info {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 42px;
      }
      @media (max-width: 969px) {
        margin-left: -15px !important;
      }
      @media (max-width: 480px) {
        margin-left: -45px !important;
      }
    }
    .name {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      align-items: center;

      @media(max-width: 415px) {
        gap: 20px;
      }
      @media(max-width: 399px) {
        flex-direction: column;
      }

      h2 {
        @media(max-width: 415px) {
          font-size: 30px !important;
        }
        @media(max-width: 415px) {
          font-size: 40px !important;
        }
      }
    }
    .price {
      display: flex;
      gap: 10px;

      @media(max-width: 425px) {
        flex-direction: column;
      }
    }
    .date {
      display: flex;
      flex-direction: row;
      gap: 15px;
      @media (max-width: 603px) {
        flex-direction: column;
      }
    }
    .back {
      font-size: 50px;
      color: white;
      margin-bottom: 100px;
      margin-top: 100px;
    }
  }
}
@media (max-width: 840px) {
  .address {
    display: none;
  }
}
@media (max-width: 530px) {
  .other {
    width: 300px;
  }
  .page {
    text-align: center;
  }
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

